<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <link rel="image_src" href="thumbnail.jpg"/>
  <meta property="og:title" content="Is Israel in Japan?"/>
  <meta property="og:description" content="A handy tool to determine if Israel is currently in Japan."/>
  <meta property="og:url" content="http://www.isisraelinjapan.com"/>
  <meta property="og:image" content="http://www.isisraelinjapan.com/thumbnail.jpg" />

  <title>Is Israel in Japan?</title>

  <style type="text/css" media="screen">
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
    	display: block;
    }
    body {
    	line-height: 1;
    }
    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }

    @font-face {
      font-family: MarkPro;
      src: url(MarkPro-Bold.otf);
      font-weight: 500;
    }

    @font-face {
      font-family: MarkPro;
      src: url(MarkPro-Light.otf);
      font-weight: 100;
    }

    @font-face {
      font-family: MarkPro;
      src: url(MarkPro-Medium.otf);
      font-weight: 300;
    }

    html, 
    body {
        height: 100%;
    }

    body { 
      background: #111 url('israel-being-too-cool-for-school.jpg') center center no-repeat;
      background-size: cover;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: "MarkPro", sans-serif;
    }

    #answer {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    #answer h1 {
      font-size: 10vw;
      font-weight: 500;
      color: #fff;
      text-shadow: 0 0 20px #000;
    }
  </style>
</head>
<body>

  <section id="answer">
    <h1><%= isHeInJapan %></h1>
  </section>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-16298985-4', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
